@use '../style/partials/variables.scss' as *;
*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

.container{
    max-width: 1206px;
    height: 100%;
    margin: 0 auto;
}

section {
    margin-top: 150px;
}

.title{
    font-size: 47px;
}

.button{
    background-color: $red;
    color: $white;
    font-size: 13px;
    text-transform: uppercase;
    width: max-content;
    border: 0;
    border-radius: 20px;
    padding: 10px 27px;
    display: flex;
    align-items: center;
    gap: 14px;
}
